<div class="column center-align">
  <h2 class="title pb-4">create new account:</h2>
  <hr>
  <form class="signup">
    <div>
      <label for="username-signup">Username:</label>
      <input type="text" id="username-signup" />
    </div>
    <div>
      <label for="emailid-signup">eMail_Id:</label>
      <input type="text" id="emailid-signup" />
    </div>
    <div>
      <label for="password-signup">Password:</label>
      <input type="password" id="password-signup" />
    </div>
    <div>
      <button type="submit" class="button is-primary">Signup</button>
    </div>
  </form>
</div>

<!-- javascript file-->
<script src="/scripts/signup.js"></script>